.home-container {
  margin-top: 0px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.restaurant-container {
  background-color: rgb(141, 155, 155);
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.restaurant-image {
  width: 100%;
  max-width: 300px;
  height: 200px;
  margin-bottom: 10px;
}

.restaurant-info {
  display: flex;
  flex-direction: column;
}

.restaurant-name {
  font-weight: bold;
}

.restaurant-description,
.restaurant-address {
  margin-bottom: 5px;
}