.search-container {
    display: flex;
    flex-direction: column;
  }
  
  .search-input {
    margin-bottom: 10px;
  }
  
  .search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #eeeeee;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .restaurants-container {
    margin-top: 20px;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: flex-start; 
  }
  
  .restaurant-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px; 
    margin-bottom: 10px;
    padding: 10px;
    flex-basis: 300px; 
  }